* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.winkelwagen {
    width: 2.5em;
    height: 2.5em;
    background-image: url('img/winkelwagen.png');
    background-size: contain;
    float: right;
    margin-right: 2.5em;
    position: relative;
}

.winkelwagen__aantal:not(:empty) {
    background-color: #ff0000;
    display: inline-block;
    color: #ffffff;
    position: absolute;
    top: -.3em;
    right: -.8em;
    line-height: .5em;
    padding: .4em;
    border-radius: 50%;
}

.header {
    padding: 1.5em;
}

.header__titel {
    font-weight: normal;
    font-size: 2.7em;
}

.header__dropdown {
    margin: 1.5em 0;
}

.header__radio {
    margin-left: 1.5em;
}

.boek {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.boek:nth-child(even) {
    background-color: #eee;
}

.boek__main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: .5em 0;
}

.boek__cover {
    max-width: 100px;
}

.boek__prijs {
    font-size: 2em;
    padding: .5em;
}

.boek__knop {
    display: block;
    margin: 2em auto;
    background-color: #00CED1;
    transition: background-color .5s;
    padding: .7em 1.2em;
    border-radius: .8em;
    font-size: .8rem;
    border: none;
}

.boek__knop:hover {
    cursor: pointer;
    background-color: #008080;
}

.boek__overig {
    font-size: .8em;
    color: #555;
}

@media screen and (min-width: 57em) {
    #uitvoer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }
    .boek:nth-child(even) {
        background-color: inherit;
    }
    .boek:nth-child(4n+2),
    .boek:nth-child(4n+3) {
        background-color: #eee;
    }
}

@media screen and (min-width: 80em) {
    #uitvoer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .boek:nth-child(4n+2),
    .boek:nth-child(4n+3) {
        background-color: inherit;
    }
    .boek:nth-child(even) {
        background-color: #eee;
    }
}